#
# sample secrets file (replace, and encrypt with helm secrets edit path/secrets.enc.yaml)
#
openstack:
    dockerConfig:
        registry: https://index.docker.io/v1/
        auth: _B64_user:password
    cloudConfig:
        cacert: _B64_ca.crt
        cloudsYaml: _B64_clouds.yaml
        cloudConf:
            global:
                auth-url: https://api.openstack.org:5000/v3
                application-credential-id: _REPLACE_
                application-credential-secret: _REPLACE_
                region: RegionOne
