#
# sample secrets file (replace, and encrypt with helm secrets edit path/secrets.enc.yaml)
#
configs:
    secret:
        # to generate use: htpasswd -bnBC 10 "" _REPLACE_WITH_PWD_ | tr -d ':\n' | sed 's/$2y/$2b/
        argocdServerAdminPassword: _REPLACE_
        extra:
            accounts.devops.password: _REPLACE_
