#
# sample secrets file (replace, and encrypt with helm secrets edit path/secrets.enc.yaml)
#
auth:
    users:
        #
        # generate with password with: echo "_REPLACE_WITH_PWD"" | openssl passwd -apr1  -stdin
        #
        - username: demo
          password: $apr1$.hCYykT1$sdCPB81u/Gz4bvJNAQQsY.
